version: "3"

services:
    deno:
        container_name: cassys
        image: deno
        restart: always
        build:
            context: .
            dockerfile: Dockerfile
            target: cassys
        ports:
            - "53:6969" 